### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### SublimeText ###
*.sublime-workspace
*.sublime-project

### VSCode ###
.vscode
.history

### IntelliJ ###
.idea

### Logs ###
logs
*.log

### Runtime ###
pids
*.pid
*.seed
*.pid.lock

### Other ###
._*
.env

### Result ###
znak-photoslibrary-migration